<div class="container">
  
  <h2 class="my-5">新規コメント</h2>
  
  <%= form_with model: @review do |f| %>
    <table cellpadding="15", style="font-size: 24px;">
      <tr>
        <th>コメント</th>
        <td><%= f.text_area :comment, placeholder: "コメントを書く" %></td>
      </tr>
      
      <tr>
        <th></th>
        <td><%= f.submit "投稿する", class:"btn btn-success" %></td>
      </tr>
    </table>
  <% end %>
  
</div>