<div class="container">  
  
  <h2 class="mt-5">管理者ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <table cellpadding="10", class="mt-5">
      
      <tr>
        <th>
          メールアドレス
        </th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </td>
      </tr>
    
      <tr>
        <th>
          パスワード
        </th>
        <td>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </td>
      </tr>
       
      <tr><th></th><td><%= f.submit "ログイン", class:"btn btn-primary" %></td></tr>
      
    </table>
  <% end %>


</div>