<div class="container">
  
  <div class="text-center mt-5">
    <h1 class="display-4", style="font-family: fantasy;">YUKIYAMA Condition</h1>
    <p>
      ようこそYUKIYAMA Conditionへ！<br>
      このサイトでは、全国のスキー場の情報をリアルタイムで見ることができます！<br>
      スキー場経営者からの投稿や、利用したユーザーのレビューを参考に<br>
      あなたのスキー・スノーボードライフを充実させましょう！
    </p>
  </div>
  
  <h2 class="mt-5">新着更新情報</h2>
  
  <div class="d-flex my-box-light flex-wrap">
    <% @ski_resorts.first(6).each do |ski_resort| %>
      <div class="my-5 mx-4">
        <%= link_to image_tag(ski_resort.image, size:"280x180"), ski_resort_path(ski_resort) %>
        <h5 class="mt-3"><%= ski_resort.name %> (<%= ski_resort.prefecture.prefecture_name %>)</h5>
      </div>
    <% end %>
  </div>
  
  <div class="mt-4 text-right">
    <%= link_to "すべてのスキー場を見る", ski_resorts_path %>
  </div>
</div>
